<div class="grid-container">
    <h1 class="mat-h1">Settings</h1>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Sensor Selection</mat-card-title>
        </mat-card-header>
        <mat-card-content class="setting-card-content">
            <div class="sensor-section">
                <mat-label>Indoor Sensor</mat-label>
                <mat-form-field appearance="outline" class="sensor-select">
                    <mat-select [(value)]="selectedIndoor" (selectionChange)="onIndoorChange($event.value)">
                        <mat-option *ngFor="let device of devices"
                                    [value]="device.deviceModel"
                                    [disabled]="isDisabledForOtherSensor(device.deviceModel)">
                            {{device.name}} ({{device.deviceModel}}) Records: {{device.reportCount}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sensor-section">
                <mat-label>Outdoor Sensor</mat-label>
                <mat-form-field appearance="outline" class="sensor-select">
                    <mat-select [(value)]="selectedOutdoor" (selectionChange)="onOutdoorChange($event.value)">
                        <mat-option *ngFor="let device of devices"
                                    [value]="device.deviceModel"
                                    [disabled]="isDisabledForOtherSensor(device.deviceModel)">
                            {{device.name}} ({{device.deviceModel}}) Records: {{device.reportCount}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
